{{template "base/base.html" .}}
{{template "base/base_common.html" .}}
{{define "head"}}<title>{{i18n .Lang "Login"}} - {{i18n .Lang .AppName}}</title>{{end}}
{{define "body"}}
<div class="row">
    <div id="content" class="col-md-8 col-md-offset-2">
    	<div class="box">
    		<div class="cell first breadcrumb">
    			<i class="ahead icon-home"></i> <a href="{{.AppUrl}}">{{i18n .Lang .AppName}}</a>
    		</div>
    		<div class="cell last slim">
                <div class="row">
    				<div class="col-md-6 auth-page">
    					<h3 class="title">
    						<i class="icon icon-user"></i> {{i18n .Lang "Login"}}
    					</h3>
                        {{if .flash.ResetSuccess}}
                        <div class="alert alert-success">
                            <p>{{i18n .Lang "Password reset success. please login."}}</p>
                        </div>
                        {{end}}
                        {{if .flash.HasLogout}}
                        <div class="alert alert-success">
                            <p>{{i18n .Lang "Logout success."}}</p>
                        </div>
                        {{end}}
                        {{if .flash.NotPermit}}
                        <div class="alert alert-danger">
                            <p>{{i18n .Lang "No permit access page, please re-login."}}</p>
                        </div>
                        {{end}}
                        {{if .flash.UserForbid}}
                        <div class="alert alert-danger">
                            <p>{{i18n .Lang "Your account was forbided by admin."}}</p>
                        </div>
                        {{end}}
                        {{if .Error}}
                            <div class="alert alert-danger">
                                <p>{{i18n .Lang "User not exist or Password was Wrong, please check it!"}}</p>
                            </div>
                        {{end}}
    					<form method="POST" action="{{.AppUrl}}login"{{if .Error}} class="has-error"{{end}}>
                            {{.xsrf_html}}{{.once_html}}

                            {{template "base/form/field_group.html" .LoginFormSets.Fields.UserName}}

                            {{with .LoginFormSets.Fields.Password}}
                            <div class="form-group{{if .Error}} has-error{{end}} {{.Class}}">
                                {{.Label}}
                                <a href="{{$.AppUrl}}forgot" class="pull-right"><i class="icon-question-sign"></i> {{i18n $.Lang "Forgot Password"}}</a>
                                {{.Field}}
                                {{if .Error}}<p class="error-block">{{.Error}}</p>{{end}}
                                {{if .Help}}<p class="help-block">{{.Help}}</p>{{end}}
                            </div>
                            {{end}}

                            {{template "base/form/field_group.html" .LoginFormSets.Fields.Remember}}

				      		<button type="submit" class="btn btn-primary">{{i18n .Lang "Sign In"}}&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></button>
    					</form>
    				</div>
    				<div class="col-md-6 auth-page">
        				<div class="auth-page">
        					<h3 class="title">
        						<i class="icon icon-question"></i> {{i18n .Lang "Help"}}
        					</h3>
        					<p class="well">
        						{{i18n .Lang "If you have not registered. Please Sign Up."}}
        					</p>
        					<p>
                            	<a href="/register" class="btn btn-default">{{i18n .Lang "Register Now"}}&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></a>
        					</p>
	        			</div>
    				</div>
                </div>
			</div>
    	</div>
	</div>
</div>
{{end}}