<div class="box">
    <div class="cell first">
        <h4>{{i18n .Lang "Admin Center"}}</h4>
    </div>
    <ul class="nav nav-side">
        <li{{if .consoleAdmin}} class="active"{{end}}>
            <a href="{{.AppUrl}}admin">{{i18n .Lang "Console"}}</a>
        </li>
        <li{{if .userAdmin}} class="active"{{end}}>
            <a href="{{.AppUrl}}admin/user">{{i18n .Lang "Users Admin"}}</a>
        </li>
        <li{{if .postAdmin}} class="active"{{end}}>
            <a href="{{.AppUrl}}admin/post">{{i18n .Lang "Posts Admin"}}</a>
        </li>
        <li{{if .commentAdmin}} class="active"{{end}}>
            <a href="{{.AppUrl}}admin/comment">{{i18n .Lang "Comments Admin"}}</a>
        </li>
        <li{{if .topicAdmin}} class="active"{{end}}>
            <a href="{{.AppUrl}}admin/topic">{{i18n .Lang "Topics Admin"}}</a>
        </li>
        <li{{if .topicCatAdmin}} class="active"{{end}}>
            <a href="{{.AppUrl}}admin/topicCat">{{i18n .Lang "TopicCats Admin"}}</a>
        </li>
    </ul>
</div>