{{template "base/base.html" .}}
{{template "base/base_common.html" .}}
{{define "meta"}}<title>{{.Post.Title}} - {{i18n .Lang .AppName}}</title>{{end}}
{{define "body"}}
<div class="row">
    <div id="content" class="col-md-9">
        <div class="box">
            <div class="cell first breadcrumb last">
                <a href="{{.AppUrl}}"><i class="icon icon-home"></i></a><i class="divider icon-angle-right"></i><a href="{{.Post.Category.Link}}">{{i18n .Lang (print "category." .Post.Category.Name)}}</a><i class="divider icon-angle-right"></i><a href="{{.Post.Topic.Link}}">{{i18n .Lang (print "topic." .Post.Topic.Name)}}</a>
            </div>
            <div id="post-show">
                <div class="cell first slim">
                    <div class="avatar pull-right">
                        <a href="{{.Post.User.Link}}" title="{{.Post.User.NickName}}">
                            <img class="large" src="{{.Post.User.AvatarLink}}?size=48">
                        </a>
                    </div>
                    <h1 class="post-title">
                        {{.Post.Title}}
                    </h1>
                    <div class="meta">
                        <a class="tag" href="{{.Category.Link}}">{{i18n .Lang (print "category." .Post.Category.Name)}}</a> • <a class="tag" href="{{.Topic.Link}}">{{i18n .Lang (print "topic." .Post.Topic.Name)}}</a> • <span class="time">{{timesince .Lang .Post.Created}}</span>{{if .Post.Replys}} • <span class="last-reply">{{i18n .Lang "post.last_reply_from"}} <a href="{{.Post.User.Link}}">{{.Post.User.NickName}}</a></span>{{end}}
                    </div>
                </div>
                <div class="cell first slim">
                    <div class="markdown">
                        {{.Post.GetContentCache|str2html}}
                    </div>
                </div>
            </div>
        </div>
	</div>
    <div id="sidebar" class="col-md-3">
    </div>
</div>
<script type="text/javascript">
    (function($){

    })(jQuery);
</script>
{{end}}