{{template "admin/base/base.html" .}}
{{template "admin/base/base_common.html" .}}
{{define "head"}}<title>{{i18n .Lang "Edit Post"}} - {{i18n .Lang .AppName}}</title>{{end}}
{{define "body"}}
<div class="row">
    <div id="content">
        <div class="col-md-2">
            {{template "admin/sidenav.html" .}}
        </div>
        <div class="col-md-10">
            {{if .Error}}
            <div class="alert alert-danger">
                {{.Error}}
            </div>
            {{end}}
            <div class="box">
                <div class="cell first breadcrumb">
                    <a href="{{.AppUrl}}admin"><i class="icon icon-home"></i></a><i class="divider icon-angle-right"></i><a href="{{.AppUrl}}admin/post">{{i18n .Lang "Posts Admin"}}</a><i class="divider icon-angle-right"></i><a href="{{.AppUrl}}admin/post/{{.Object.Id}}">{{i18n .Lang "Edit Post"}} {{.Object.Title}}</a>
                </div>
                <div class="cell last slim">
                    {{if .flash.CreateSuccess}}
                    <div class="alert alert-info">
                        {{i18n .Lang "Success create %s %s." "post" .Object.Title}}
                    </div>
                    {{end}}
                    {{if .flash.UpdateSuccess}}
                    <div class="alert alert-info">
                        {{i18n .Lang "Success update %s %s." "post" .Object.Title}}
                    </div>
                    {{end}}
                    <form action="{{.AppUrl}}admin/post/{{.Object.Id}}" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                {{.xsrf_html}}{{.once_html}}
                                {{template "base/form/fields.html" .PostAdminFormSets}}
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">{{i18n .Lang "Update"}}&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></button>
                                    <a type="submit" href="{{.AppUrl}}admin/post/{{.Object.Id}}/delete" class="btn btn-danger pull-right">{{i18n .Lang "Delete"}}&nbsp;&nbsp;<i class="icon-remove"></i></a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}