{{range .Posts}}
<div class="post noavatar cell">
	<h3 class="title">
		<a href="{{.Link}}">{{.Title}}</a>
	</h3>
	<div class="meta">
		{{if not $.root.IsCategory}}<a class="tag" href="{{.Category.Link}}">{{i18n $.root.Lang (print "category." .Category.Name)}}</a> • {{end}}{{if not $.root.IsTopic}}<a class="tag" href="{{.Topic.Link}}">{{.Topic.GetName $.root.Lang}}</a> • {{end}}<span class="time">{{timesince $.root.Lang .Created}}</span>{{if .Replys}}{{if .LastReply}} • <span class="last-reply">{{i18n $.root.Lang "post.last_reply"}} <a href="{{.User.Link}}">{{.LastReply.NickName}}</a></span>{{end}}{{end}}
		<div class="data hidden-xs pull-right">
			 {{if .Replys}}{{.Replys}}<i class="icon-comment"></i>{{end}} {{if .Favorites}}{{.Favorites}}<i class="icon-heart"></i>{{end}}
		</div>
	</div>
</div>
{{end}}