<div class="box">
	<div class="cell first">{{i18n .Lang "Community News"}}</div>
	<div class="cell last">The earth is going to hit the sun.</div>
</div>

<div class="box">
	<div class="cell first">{{i18n .Lang "Hot Topics"}}</div>
	<div class="cell last">Are you going to kill her? Just because I don't like her?</div>
</div>

<div class="box">
	<div class="cell first">{{i18n .Lang "Zero-replies"}}</div>
	<div class="cell last">How can I have millions of dollars?</div>
</div>
<div class="box">
	<div class="cell first">{{i18n .Lang "Top Walking Dictionaries"}}</div>
	<div class="cell last">1. Who am I</div>
</div>

<div class="box">
	<div class="cell first">{{i18n .Lang "Community Stars"}}</div>
	<div class="cell last">1. Oh, yeah</div>
</div>

<div class="box">
	<div class="cell first">{{i18n .Lang "Friend Links"}}</div>
	<div class="cell last">Golang</div>
</div>