<div class="box">
	<div class="cell first">{{i18n .Lang "sidebar.community_news"}}</div>
	<div class="cell last">The earth is going to hit the sun.</div>
</div>

<div class="box">
	<div class="cell first">{{i18n .Lang "sidebar.hot_topics"}}</div>
	<div class="cell last">Are you going to kill her? Just because I don't like her?</div>
</div>

<div class="box">
	<div class="cell first">{{i18n .Lang "sidebar.zero_replys"}}</div>
	<div class="cell last">How can I have millions of dollars?</div>
</div>
<div class="box">
	<div class="cell first">{{i18n .Lang "sidebar.top_dictionaries"}}</div>
	<div class="cell last">1. Who am I</div>
</div>

<div class="box">
	<div class="cell first">{{i18n .Lang "sidebar.community_stars"}}</div>
	<div class="cell last">1. Oh, yeah</div>
</div>

<div class="box">
	<div class="cell first">{{i18n .Lang "sidebar.frined_links"}}</div>
	<div class="cell last">Golang</div>
</div>