html, body {
  height: 100%;
}

body {
  background-color: #eaeaea;
  background-image: url('/static/img/bg.gif');
}

label {
  cursor: pointer;
}

input[type="password"] {
  color: #777;
  font: small-caption;
  font-size: 18px;
}

input[type="password"]::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 13px;
  padding-top: 4px;
}

input[type="password"]::-moz-placeholder {
  font-size: 13px;
  line-height: 13px;
  padding-top: 4px;
}

input[type="password"]:-ms-input-placeholder {
  font-size: 13px;
  line-height: 13px;
  padding-top: 4px;
}

textarea,
textarea.form-control {
  padding: 10px;
}

#front .container {
  max-width: 1000px;
}

#navbar .logo img {
  height: 30px;
  margin: 5px 10px 0px 0;
}

#navbar .navbar-menu li.has-icon > a {
  width: 35px;
  padding: 0;
}

#navbar .navbar-menu li.has-icon .icon {
  font-size: 20px;
  line-height: 40px;
  height: 40px;
  margin-left: 10px;
}

#navbar .navbar-menu .avatar > a {
  display: block;
  padding: 3px;
}

#navbar .navbar-menu .avatar > a > img {
  width: 34px;
  height: 34px;
  padding: 2px;
  border: 2px solid #e6e6e6;
  display: block;
  background-color: #eee;
}

#main {
  margin-top: 30px;
}

#wrapper {
  min-height: 100% !important;
  height: auto !important;
  height: 100%;
  margin: 0 auto -240px;
}

#wrapper .wrapper-push {
  height: 240px;
}

#content .box,
#sidebar .box {
  margin-bottom: 15px
}

/* footer */
#footer {
  background: #fff;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.05);;
  -moz-box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.05);
  margin-top: 65px;
}

#footer .footer-wrap {
  padding: 20px 0px;
}

#footer .desc {
  color: #ababab;
}

/* box */
.box {
    background-color: #fafafa;
    border-bottom: 1px solid #e2e2e2;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.20);
}

.cell {
  padding: 10px 10px;
  border-top: 2px solid #fff;
  border-bottom: 1px solid #e2e2e2;
}

.cell.first {
  border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
}

.cell.last {
  border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
}

.cell.slim {
  padding-right: 25px;
  padding-left: 25px;
}

/* nav-cats */
.nav-cats {
  padding: 6px 10px;
}

.nav-cats .cat {
  display: inline-block;
}

.nav-cats .cat a {
  display: block;
  padding: 3px 8px;
  margin: 1px 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.nav-cats .cat a:hover {
  text-decoration: none;
  background-color: #ddd;
}

.nav-cats .cat a.active {
  color: #fff;
  background-color: #444;
}

.breadcrumb.nav-cats {
  padding: 5px 10px;
}

/* pager */

.box .pagination,
.box .pager {
  margin: 0;
}

.pager .pager-nums {
  line-height: 30px;
}

/* nav-topics */
.nav-topics .topic a {
  padding: 3px 3px;
}

.nav-topics .topic a:hover {
  text-decoration: underline;
}

/* avatar */
.avatar img {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  width: 48px;
  height: 48px;
}

.avatar a {
  text-decoration: none;
}

.avatar img.large {
  width: 64px;
  height: 64px;
}

.avatar img.middle {
  width: 32px;
  height: 32px;
}

.avatar img.small {
  width: 16px;
  height: 16px;
}


/* post-list */
.post-list .post {
}

.post-list .post .avatar {
  margin-left: 5px;
  float: left;
}

.post-list .post .title {
  margin: 0px 20px 0 65px;
  line-height: 24px;
  font-size: 15px;
  font-weight: normal;
}

.post-list .post .meta {
  color: #ccc;
  margin: 9px 0 0 65px;
  font-size: 12px;
}

.post-list .post .meta .time,
.post-list .post .meta .last-reply {
  padding: 2px 1px;
}

.post-list .post .meta .tag {
  padding: 2px 3px;
  background-color: #f0f0f0;
}

.post-list .post .meta .tag:hover {
  background-color: #e2e2e2;
  text-decoration: none;
}

.post-list .post .data {
  color: #aaa;
}

.post-list .post .data i {
  margin-left: 5px;
  margin-right: 10px;
}

.nav-users .avatar {
  display: inline-block;
  margin: 3px;
  width: 32px;
  height: 32px;
}

/* breadcrumb */
.breadcrumb {
  font-size: 14px;
  background-color: #f3f3f3;
  color: #666;
}

.breadcrumb .icon {
  font-size: 16px;
}

.breadcrumb .divider {
  font-size: 14px;
  font-weight: bold;
  padding: 0 5px;
  margin: 0 5px;
}

/* login page */
.auth-page {
  margin-bottom: 20px;
}

.auth-page .title {
  font-size: 20px;
  padding: 5px 0 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.auth-page .title .icon {
  margin-right: 10px;
}

/* btn-checked */
.btn-checked,
.btn-checked:hover,
.btn-checked:focus {
  margin-top: -3px;
  margin-right: 8px;
  color: #ccc;
}

.btn-checked.active {
  color: #000;
}

/* dropdown-menu */
.dropdown-menu > li > a:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 131, 174);
  background-image: linear-gradient(to bottom, rgb(0, 139, 184), rgb(0, 120, 159));
}
.dropdown-menu > li > a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 131, 174);
  background-image: linear-gradient(to bottom, rgb(0, 139, 184), rgb(0, 120, 159));
}

/* form help block */
.help-block {
  margin-left: 5px;
}

/* form error block */
.form-group .error-block {
  z-index: -1;
  display: none;
}

.form-group.has-error .error-block,
.form-group.has-warning .error-block {
  display: inline-block;
  padding: 3px 5px;
  font-size: 12px;
  margin: 0 5px;
  color: #b94a48;
  border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  background-color: #f2dede;
  border: 1px solid #c09853;
  border-top: none;
}

.form-group.has-warning .error-block {
  background-color: #EFC994;
  border: 1px solid #eea236;
  border-top: none;
}

.error-block .btn {
  margin-top: 2px;
}

h1.underline,
h2.underline,
h3.underline,
h4.underline,
h5.underline,
h6.underline {
  padding: 0 0 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.alert.alert-small {
  padding: 8px 10px;
  margin-bottom: 15px;
}

/* settings profile */
.profile-avatar {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #eee;
  border: 1px solid #eee;
}

.profile-avatar img {
  vertical-align: bottom;
  margin-right: 10px;
}

/* dropdown login */
#dropdown-login {
  width: 280px;
}

.nav-side .active > a {
  padding-left: 10px;
  border-left: 5px solid #24b2eb;
  background-color: #eee;
  color: #000;
}

.color-checked {
  color: green;
}

.color-oragne {
  color: orange;
}

.color-link a {
  color: #2892BC;
}

.color-link a:hover {
  color: #146B8E;
}

.topic-info .topic-img {
  margin: 0 15px 0px;
}

.topic-info .topic-img img {
  width: 60px;
}

.topic-info .topic-intro {
  text-indent: 2em;
  margin: 0 10px 0 90px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
}

.topic-info .topic-meta {
  margin: 10px 10px 0 0;
}

.topic-info .topic-meta .badge {
  background-color: #aaa;
}

.topic-info .topic-meta .input-group-addon,
.topic-info .topic-meta .input-group-btn {
  width: auto;
}

#post-new .post-content textarea {
  margin-top: 10px;
  min-height: 300px;
}

#post-new .post-preview {
  min-height: 305px;
  margin: 10px 10px;
  padding: 0 5px;
}

#post-new .post-categories,
#post-new .post-topics {
  width: 170px;
  display: inline-block;
  float: left;
}

#post-new .post-topics {
  margin-left: 10px;
}

#post-show .post-title {
  font-size: 22px;
  line-height: 1.3em;
  margin: 5px 0;
  padding: 0 0 10px;
  font-weight: 700;
}

.markdown {
  font-size: 14px;
}

.markdown a {
  color: #4183C4;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  line-height: 1.7;
  margin: 15px 0;
  padding: 0;
}

.markdown h1,
.markdown h2 {
  font-size: 18px;
  border-bottom: 1px solid #DDD;
}

.markdown h2 {
  border-bottom: 1px solid #EEE;
}

.markdown h3 {
  font-size: 16px
}

.markdown h4 {
  font-size: 14px
}

.markdown h5 {
  font-size: 14px
}

.markdown h6 {
  font-size: 14px
}

.markdown table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  overflow: auto;
  width: 100%;
  margin: 0 0 9px;
}

.markdown table th {
  font-weight: 700
}

.markdown table th,
.markdown table td {
  border: 1px solid #DDD;
  padding: 6px 13px;
}

.markdown table tr {
  background-color: #FFF;
  border-top: 1px solid #CCC;
}

.markdown table tr:nth-child(2n) {
  background-color: #F8F8F8
}

.markdown li {
  line-height: 1.6;
}

.markdown dl dt {
  font-style: italic;
  margin-top: 9px;
}

.markdown dl dd {
  margin: 0 0 9px;
  padding: 0 9px;
}

.markdown blockquote,
.markdown blockquote p {
  font-size: 14px;
  background-color: #f5f5f5;
}

.markdown > pre {
  line-height: 1.6;
  white-space: pre;
  overflow: auto;
}

.markdown > pre > code {
  white-space: pre;
  word-wrap: normal;
}

.markdown hr {
  border: 0 none;
  color: #ccc;
  height: 4px;
  padding: 0;
  margin: 15px 0;
  background: transparent url('/static/img/hr.png') repeat-x 0 0;
}
