html, body {
  height: 100%;
}

body {
  background-color: #eaeaea;
}

label {
  cursor: pointer;
}

input[type="password"] {
  color: #777;
  font: small-caption;
  font-size: 18px;
}

input[type="password"]::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 13px;
  padding-top: 4px;
}

input[type="password"]::-moz-placeholder {
  font-size: 13px;
  line-height: 13px;
  padding-top: 4px;
}

input[type="password"]:-ms-input-placeholder {
  font-size: 13px;
  line-height: 13px;
  padding-top: 4px;
}

#navbar .logo img {
  height: 30px;
  margin: 9px 10px 0px 0;
}

#navbar .avatar {
  padding-top: 4px;
}

#main {
  margin-top: 30px;
}

#wrapper {
  min-height: 100% !important;
  height: auto !important;
  height: 100%;
  margin: 0 auto -240px;
}

#wrapper .wrapper-push {
  height: 240px;
}

#content .box,
#sidebar .box {
  margin-bottom: 15px
}

/* footer */
#footer {
  background: #fff;
  box-shadow: 0 -1px 0 #e6e6e6;
  height: 220px;
  margin-top: 20px;
}

#footer .footer-wrap {
  padding: 20px 0 40px;
}

#footer .desc {
  color: #ababab;
}

/* box */
.box {
    background-color: #fafafa;
    border-bottom: 2px solid #e2e2e2;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.cell {
  padding: 10px 10px;
  border-top: 2px solid #fff;
  border-bottom: 1px solid #e2e2e2;
}

.cell.first {
  border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
}

.cell.last {
  border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
}

/* cat-list */
.cat-list {
  padding: 5px 10px;  
}

.cat-list .cat {
  display: inline-block;
}

.cat-list .cat a {
  display: block;
  padding: 3px 8px;
  margin: 1px 0;
}

.cat-list .cat a:hover {
  text-decoration: none;
  background-color: #ddd;
}

.cat-list .cat a.active {
  color: #fff;
  background-color: #444;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* tag-list */
.tag-list .tag a {
  padding: 3px 3px;
}

.tag-list .tag a:hover {
  text-decoration: underline;
}

/* avatar */
.avatar img {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  width: 48px;
  height: 48px;
}

.avatar a {
  text-decoration: none;
}

.avatar img.small {
  width: 32px;
  height: 32px;
}


/* post-list */
.post-list .post {
  height: 70px;
  position: relative;
}

.post-list .post .avatar {
  margin-left: 5px;
  float: left;
}

.post-list .post .title {
  margin: 3px 0 0 70px;
  line-height: 17px;
  font-size: 17px;
  font-weight: normal;
}

.post-list .post .meta {
  color: #ccc;
  margin: 9px 0 0 75px;
  font-size: 12px;
}

.post-list .post .meta .tag,
.post-list .post .meta .time,
.post-list .post .meta .last-reply {
  padding: 2px 5px;
}

.post-list .post .meta .tag {
  background-color: #f5f5f5;
}

.post-list .post .meta .tag:hover {
  background-color: #e2e2e2;
  text-decoration: none;
}

.post-list .post .data {
  top: 25px;
  right: 20px;
  position: absolute;
}

.post-list .post .data i {
  color: #aaa;
  margin-right: 10px;
}

/* breadcrumb */
.breadcrumb {
  font-size: 14px;
  background-color: #f3f3f3;
  color: #666;
}

.breadcrumb .ahead {
  margin-right: 5px;
  font-size: 16px;
}

.breadcrumb .divider {
  font-size: 10px;
  padding: 0 10px;
}

/* login page */
.auth-page {
  margin-bottom: 20px;
}

.auth-page .title {
  font-size: 20px;
  padding: 5px 0 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.auth-page .title .icon {
  margin-right: 10px;
}

/* btn-checked */
.btn-checked,
.btn-checked:hover {
  color: #ccc;
}

.btn-checked.active {
  color: #000;
}


