	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="author" content="Unknown, slene" />
	{{template "meta" .}}
	<meta name="_xsrf" content="{{.xsrf_token}}" />
	<link rel="shortcut icon" href="{{.AppUrl}}static/img/favicon.png" />
	{{compress_css "lib"}}
	{{str2html "<!--[if IE 7]>"}}
	{{compress_css "ie7"}}
	{{str2html "<![endif]-->"}}
	{{compress_css "app"}}
	{{compress_js "lib"}}
	{{compress_js "app"}}