{{if gt .paginator.PageNums 1}}
<ul class="pager">
    {{if .paginator.HasPrev}}
        <li class="previous"><a href="{{.paginator.PageLinkPrev}}">{{i18n .Lang "paginator.prev_page"}}</a></li>
    {{else}}
        <li class="previous disabled"><a>{{i18n .Lang "paginator.prev_page"}}</a></li>
    {{end}}
    <li class="pager-nums">
        {{.paginator.Page}} / {{.paginator.PageNums}}
    </li>
    {{if .paginator.HasNext}}
        <li class="next"><a href="{{.paginator.PageLinkNext}}">{{i18n .Lang "paginator.next_page"}}</a></li>
    {{else}}
        <li class="next disabled"><a>{{i18n .Lang "paginator.next_page"}}</a></li>
    {{end}}
</ul>
{{end}}