{{template "base/base.html" .}}
{{template "base/base_common.html" .}}
{{define "meta"}}<title>{{i18n .Lang "postnav.best_posts"}} - {{i18n .Lang "app_name"}}</title>{{end}}
{{define "body"}}
<div class="row">
    <div id="content" class="col-md-8">
        <div class="box">
            <div class="cell nav-cats breadcrumb first">
                {{template "post/component/nav-list.html" .}}
            </div>
            <div class="cell nav-cats last">
                {{template "post/component/nav-cats.html" .}}
            </div>
        </div>
        <div class="box">
            <div class="cell first breadcrumb">
                <i class="divider icon-angle-down"></i><a href="{{.AppUrl}}best">{{i18n .Lang "postnav.best_posts"}}</a>
            </div>
            {{if .paginator.Nums}}
                <div class="post-list">
                    {{template "post/component/posts.html" dict "root" . "Posts" .Posts}}
                </div>
                <div class="cell last">
                    {{template "base/paginator_pn.html" .}}
                </div>
            {{else}}
                <div class="cell last">
                    <div class="text-center">{{i18n .Lang "postnav.not_found_posts"}}</div>
                </div>
            {{end}}
        </div>
    </div>
    <div id="sidebar" class="col-md-4">
        {{template "post/component/sidebar.html" .}}
    </div>
</div>
{{end}}