{{template "base/base.html" .}}
{{template "base/base_common.html" .}}
{{define "meta"}}<title>{{i18n .Lang "postnav.recent_posts"}} - {{i18n .Lang "app_name"}}</title>{{end}}
{{define "body"}}
<div class="row">
    <div id="content" class="col-md-8">
        <div class="box">
            <div class="cell breadcrumb nav-cats first">
                {{template "post/component/nav-list.html" .}}
            </div>
            <div class="cell nav-cats last">
                {{template "post/component/nav-cats.html" .}}
            </div>
        </div>
        <div class="box">
            <div class="cell breadcrumb first">
                <i class="divider icon-angle-down"></i><a href="{{.AppUrl}}recent">{{i18n .Lang "postnav.recent_posts"}}</a>
                <span class="pull-right"><i class="icon-rss-sign color-orange"></i> <a href="#">{{i18n .Lang "atom_feed_subscribe"}}</a></span>
            </div>
            <div class="post-list">
                {{template "post/component/posts.html" dict "root" . "Posts" .Posts}}
            </div>
            <div class="cell last">
                {{template "base/paginator_pn.html" .}}
            </div>
        </div>
    </div>
    <div id="sidebar" class="col-md-4">
        {{template "post/component/sidebar.html" .}}
    </div>
</div>
{{end}}