{{template "admin/base/base.html" .}}
{{template "admin/base/base_common.html" .}}
{{define "meta"}}<title>{{i18n .Lang "model.admin_comment"}} - {{i18n .Lang "app_name"}}</title>{{end}}
{{define "body"}}
<div class="row">
    <div id="content">
        <div class="col-md-2">
            {{template "admin/sidenav.html" .}}
        </div>
        <div class="col-md-10">
            {{if .Error}}
            <div class="alert alert-danger">
                {{.Error}}
            </div>
            {{end}}
            <div class="box">
                <div class="cell first breadcrumb">
                    <a href="{{.AppUrl}}admin"><i class="icon icon-home"></i></a><i class="divider icon-angle-right"></i><a href="{{.AppUrl}}admin/comment">{{i18n .Lang "model.admin_comment"}}</a>
                </div>
                <div class="cell last slim">
                    {{if .flash.DeleteSuccess}}
                    <div class="alert alert-info">
                        {{i18n .Lang "admin.success_delete"}}
                    </div>
                    {{end}}
                    <p>
                        <a href="/admin/comment/new" class="btn btn-default">{{i18n .Lang "model.new_comment"}}</a>
                    </p>
                    <table class="table table-hover table-condensed color-link">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>{{i18n .Lang "model.post_title"}}</th>
                                <th>{{i18n .Lang "model.user_username"}}</th>
                                <th>{{i18n .Lang "model.created"}}</th>
                        </thead>
                        <tbody>
                            {{range $comment := .Objects}}
                            <tr>
                                <td><a href="{{$.AppUrl}}admin/comment/{{$comment.Id}}">{{$comment.Id}}</a></td>
                                <td><a href="{{$.AppUrl}}admin/comment/{{$comment.Id}}">{{$comment.Post.Title}}</a></td>
                                <td>{{if $comment.User}}<a href="{{$.AppUrl}}admin/user/{{$comment.User.Id}}">{{$comment.User.UserName}}</a>{{end}}</td>
                                <td>{{$comment.Created|datetime}}</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                    {{template "base/paginator.html" .}}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}